.dockerignore
bin
obj
.git
.gitignore
*.md
*.log
*.user
*.suo
.vs
.vscode
.idea
**/node_modules
**/Properties/launchSettings.json
**/appsettings.Development.json
**/appsettings.Local.json
Dockerfile*
docker-compose*
*.pfx
*.cer
